In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
import datetime
warnings.filterwarnings(action='ignore') 
from lightgbm import LGBMRegressor

In [2]:
stk_train = pd.read_csv('stk_hld_train.csv')
stk_train

,act_id,iem_cd,byn_dt,hold_d
0,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A006360,20180726,11
1,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A005930,20180131,80
2,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A005070,20180517,5
3,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A003520,20201112,22
4,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A002310,20180905,324
...,...,...,...,...
681467,4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...,A260660,20180831,1
681468,4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...,A271980,20201027,1
681469,4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...,A289080,20181121,1
681470,4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...,A307930,20200214,1
681471,4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...,A308100,20200116,1

In [3]:
stk_train['hist_d'] = stk_train['hold_d']*0.8
stk_train['hist_d'] = stk_train['hist_d'].round(0)

In [4]:
stk_test = pd.read_csv('stk_hld_test.csv')
stk_test

,act_id,iem_cd,byn_dt,hist_d,submit_id,hold_d
0,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A032640,20200522,153,IDX00001,0
1,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A160600,20190823,335,IDX00002,0
2,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A234340,20200611,139,IDX00003,0
3,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A131760,20200120,236,IDX00004,0
4,0ad104dbed99be0cd858aa772765ddedade554601a981b...,A293490,20201217,9,IDX00005,0
...,...,...,...,...,...,...
70591,564af3cf975ed4fa05148ada689d5002e9c2d43dee9481...,A000810,20201127,23,IDX70592,0
70592,564af3cf975ed4fa05148ada689d5002e9c2d43dee9481...,A005945,20200731,103,IDX70593,0
70593,4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...,A004740,20170704,858,IDX70594,0
70594,4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...,A001630,20201215,11,IDX70595,0
70595,4561928f2825f6389f228088ac807a9fb4575ffdcbc47a...,A185750,20201224,4,IDX70596,0

In [5]:
alldata = pd.concat([stk_train,stk_test])

In [6]:
alldata1 = alldata.reset_index(drop=True)

In [7]:
alldata1[alldata1['act_id'] == '0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c5467ece45d5b35e99912a']

,act_id,iem_cd,byn_dt,hold_d,hist_d,submit_id
425330,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A037070,20190325,2,2.0,NaN
425331,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A033270,20190326,75,60.0,NaN
425332,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A005930,20190320,1,1.0,NaN
425333,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A005070,20190327,19,15.0,NaN
425334,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A002270,20190321,350,280.0,NaN
425335,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A095660,20190325,55,44.0,NaN
425336,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A093370,20190515,33,26.0,NaN
425337,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A091580,20190326,47,38.0,NaN
425338,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A079980,20190320,189,151.0,NaN
425339,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A078020,20190702,145,116.0,NaN
425340,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A065450,20190401,24,19.0,NaN
425341,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A060980,20190515,24,19.0,NaN
425342,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A051360,20190327,46,37.0,NaN
425343,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A307950,20200928,51,41.0,NaN
425344,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A247540,20190329,42,34.0,NaN
425345,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A160980,20190327,3,2.0,NaN
425346,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A149980,20200210,100,80.0,NaN
425347,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A131030,20190614,157,126.0,NaN
425348,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A122990,20190604,3,2.0,NaN
425349,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A104040,20190402,49,39.0,NaN
425350,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A101330,20190415,36,29.0,NaN
425351,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A096770,20200210,210,168.0,NaN
425352,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A036000,20190611,133,106.0,NaN
715723,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A091700,20200210,0,223.0,IDX34252
715724,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A271560,20200210,0,223.0,IDX34253
715725,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A178320,20200210,0,223.0,IDX34254
715726,0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c546...,A091230,20200204,0,227.0,IDX34255

In [8]:
id_count = alldata1.groupby('act_id')['iem_cd'].count()

In [9]:
id_count

act_id
0000c7a5a5a1db9c7e890da984b20d544c09cb6f51c5467ece45d5b35e99912a    27
0007f3d10282e6f9de1eb445a64eb1f13e9ed2308cfbfa9b6e6efa399d0bdf31    41
0008d1bfac569bdb998897e2eb8519dec06b9277a686f4c6e06de582c9791b35    58
000a83a961cbcbce40673aed998effbd462fb10dcac8e64c6fa720f2150d3f5a    14
000b92ca83a96312a0909b1f489340f4d399c86555012ffe2c41952ae43dc741     6
                                                                    ..
ffea89aa464a4fcf8a5416989d21deef4e748192ba17bf7cf5b79c72a8fd211d     5
ffecc8e2823943ef1a7b0d9c6512f716a88032a1bdf7bace472b4365f5028535    56
ffee399294db1c721e010cbf3dae5c8a1f140dbaf2dcae96e7cd290e431aee0a    29
fff7d563e388744fdc1ca90153ec0161d1345511cb9070f7ba250b774c4fe60f    33
fff9cf3aaffd32dcbf70dce8e5216411f9d38537b477d6bc012f43564f626533    37
Name: iem_cd, Length: 9992, dtype: int64

In [10]:
alldata2= pd.merge(alldata1, id_count, on ='act_id',how = 'left')

In [11]:
alldata3 = alldata2.drop(columns = ['submit_id','hold_d'])

In [12]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

c = alldata3.columns[alldata3.dtypes == 'object']
for i in c:
    alldata3[i] = le.fit_transform(alldata3[i])
alldata3

        act_id  iem_cd_x    byn_dt  hist_d  iem_cd_y
0          399       366  20180726     9.0        99
1          399       343  20180131    64.0        99
2          399       301  20180517     4.0        99
3          399       217  20201112    18.0        99
4          399       149  20180905   259.0        99
...        ...       ...       ...     ...       ...
752063    3308        52  20201127    23.0       162
752064    3308       346  20200731   103.0       162
752065    2676       280  20170704   858.0       162
752066    2676       110  20201215    11.0       162
752067    2676      2030  20201224     4.0       162

[752068 rows x 5 columns]

In [13]:
train2 = alldata3[:len(stk_train)]
test2 = alldata3[len(stk_train):]

In [14]:
from catboost import CatBoostClassifier
cbc = CatBoostClassifier(verbose=100)
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error as mse
from sklearn.model_selection import train_test_split, StratifiedKFold, KFold
from lightgbm import LGBMRegressor

In [15]:
lgbm=LGBMRegressor()

In [17]:
lgbm.fit(train2,stk_train['hold_d'])

LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
              importance_type='split', learning_rate=0.1, max_depth=-1,
              min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
              n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
              random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
              subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [19]:
result = lgbm.predict(test2)

In [20]:
sub= pd.read_csv('sample_submission.csv')

In [22]:
sub['hold_d'] = result

In [23]:
sub.to_csv('sub.csv',index=False)